.logo .logo-color-footer {
  color: var(--secondary-logo-color);
}

.footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);

  & .logo {
    display: block;
    margin-bottom: 20px;
  }
  & .social-list {
    display: flex;
    margin: 0 auto;
    width: 206px;

    &-link {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &-icon {
      fill: #fff;
    }
  }

  & .social-list-link:hover,
  & .social-list-link:focus {
    background-color: var(--accent-color);
  }
}
.footer-contact-link.addr {
  color: var(--footer-addr-color);
}

.footer-contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 60px;
}

.footer-contact-link.addr {
  color: var(--footer-addr-color);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}

.join {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
  margin-top: 60px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.input-mail {
  display: inline-block;
  width: 450px;
  height: 50px;
  background-color: var(--footer-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .button-send {
  display: inline-flex;
  width: 200px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 10px 29px;
  margin: 0 auto;
}

.button-send::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/send.svg);

  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .join {
    margin-top: 0px;
  }
  .footer .social-list {
    padding: 0;
  }

  .form.social {
    margin-top: 60px;
  }
  .mailing-form {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .form.social {
    margin-top: 5px;
  }

  .mailing-form {
    flex-direction: row;
  }

  .input-mail {
    width: 358px;
  }

  .footer .button-send {
    height: 50px;
    margin-left: 12px;
  }
}
