:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-color: #757575;
  --title-color: #212121;
  --hero-title-color: #ffffff;
  --first-logo-color: #000000;
  --secondary-logo-color: #ffffff;
  --footer-addr-color: #ffffff;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --white: #ffffff;
  --main-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --border-color: #eeeeee;
}
